<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <META name="viewport" content="whidth-device-width, initial-scale=1.0" >
        <title>registro </title>
    </head>
    <body>
        <h1>registrarse</h1>
        <from action="/validar" method="post">
            
            id:
            <input type="number" name="id" id="id"><br><br>

            nombre:
            <input type="text" name="nom" id="nom"><br><br>
            
            apellido:
            <input type="text" name="apell" id="apell"><br><br>
            
            mascota:
            <input type="text" name="mas" id="mas"><br><br>

            correo:
            <input type="email" name="correo" id="correo"><br><br>
    
            contraseña:
            <input type="password" name="pass" id="pass"><br><br>
            
            
            
            <input type="submit" value="registrarse"><br><br>

    
    
    
    
    
    
    
        </body>
